<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
    <script src="table.js"></script>
    
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    
    <h2>Using the XMLHttpRequest Object</h2>

<div id="demo">

</div>

<div id="options">
<button type="button" onclick="loadXMLDoc()">tablet</button>
<button type="button" onclick="stopService()">Stop Service</button>

</div>
    
</body>
</html>